

body {
    
}

#background {
    position: fixed;
    top:0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    filter: blur(5px);
}

#background_image {
    width: 100%;
    height: 100%;
    background-image: url(images/complete/背景.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed; /* 画像を固定する */
}


.Qs {
    
}


.Q_button {
    appearance: none;
    text-align: center;
    width: 100%;
    background-color: #223a70;
    color: #fff;
    padding: 20px;
}




.Q_button.magic_button {
    background-color: #b33e5c;
    color: #fff;
}




.acodion_body {
    height:0;
    overflow: hidden;
    transition: all 0.5s;
    text-align: center;
}


.acodion_body.open {
    height: fit-content;
    overflow: hidden;
    transition: all 0.5s;
    text-align: center;
    background-color: beige;
}





.nomal_answer {
    
}


.quiz_and_answer {
    padding: 10px 0;
}


.quiz_image {
    width:90%;
    margin: 0 5%;
}



.explain_and_answer {
    width: 80%;
    margin: 0 5%;
    padding: 10px 5%;
    background-color: lightgray;
    color: black;
}


.explain {
    
}


.answer {
    
}

#main-content {
    position: absolute;
    top: 0;
    left: 50%;
    width:400px;
    height:95%;
    margin: 0;
    padding :5%;
    overflow-y: scroll;
    z-index: 10;
    transform: translateX(-50%);
}


@media screen and (max-width: 959px) {
	/* 959px以下に適用されるCSS（タブレット用） */
    


}
@media screen and (max-width: 480px) {
	/* 480px以下に適用されるCSS（スマホ用） */
    #main-content {
        width:90%;
        padding :5%;
        
    }
}
