@charset "UTF-8";

:root {
    --red: #E60033;
    --blue: #0072EF;
    --yellow: #F4E21D;
    --green: #00C917;
    --purple: #884898;
    --orange: #FF9123;
    --gray: #666;
    --dark_gray: #525252;
    --pink: #FF7BAC;
}




body {
    font-size: 16px;
    font-family: 'M PLUS 2', sans-serif;
}


#background {
    position: fixed;
    top:0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    filter: blur(5px);
}

#background_image {
    width: 100%;
    height: 100%;
    background-image: url(images/complete/背景.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed; /* 画像を固定する */
}



#top {
    height : fit-content;
    padding-bottom: 100px;
    text-align: center;
}


#top h1 {
    position: relative;
    font-size: 26px;
    margin-top: 5vh;
}

#top-ps {
    position: relative;
    text-align: left;
    margin-top: 5vh;

}

#form-link-button {
    position: relative;
    text-align: center;
    width: fit-content;
    padding: 10px 5%;
    margin: 5vh 0;
    background-color: black;
    border: 2px solid #f0f0f0;
    border-radius: 5px;
    color :white;
}


.Qs {
}


hr {
    margin: 20px 0;
}

.Q_button {
    appearance: none;
    text-align: center;
    background-color: black;
    border: 2px solid #f0f0f0;
    border-radius: 5px;
    color :white;
    width: 100%;
    padding: 30px;
    margin: 2px 0;
}

.Q_button:active {
    appearance: none;
    text-align: center;
    border-radius: 5px;
    color :rgb(157, 157, 157);
}



/*

.Q_button.magic_button {
    background-color: #b33e5c;
    color: #fff;
}


*/


.acodion_body {
    height:0;
    overflow: hidden;
    text-align: center;
}


.acodion_body.open {
    height: fit-content;
    overflow: hidden;
    text-align: center;
/*    background-color: beige;*/
}





.nomal_answer {
    
}


.quiz_and_answer {
    padding: 10px 0;
}


.quiz_image {
    width:90%;
    margin: 0 5%;
    
}



.explain_and_answer{
    width: 80%;
    margin: 0 5%;
    padding: 10px 5%;
    background-color: black;
    border: 2px solid #f0f0f0;
    border-radius: 5px;
    color :white;
}



.explain {
    text-align: left;
}


.answer_button {
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
    background-color: black;
    border: 2px solid #f0f0f0;
    border-radius: 5px;
    color :white;
    width: fit-content;
    padding: 10px;
}

.answer_p {
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
    color :white;
    width: fit-content;
    padding: 10px;
}

#main-content {
    position: absolute;
    top: 0;
    left: 50%;
    width:400px;
    height:95%;
    margin: 0;
    padding :5%;
    overflow-y: scroll;
    z-index: 10;
    transform: translateX(-50%);
}


@media screen and (max-width: 959px) {
	/* 959px以下に適用されるCSS（タブレット用） */
    


}
@media screen and (max-width: 480px) {
	/* 480px以下に適用されるCSS（スマホ用） */
    #main-content {
        width:90vmin;
        padding :5%;
        
    }

    .Q_button {
        padding: 3vmin;
        margin: 2px 0;
    }
}

