@charset "UTF-8";

:root {
    --red: #E60033;
    --blue: #0072EF;
    --yellow: #F4E21D;
    --red-op: #e6003200;
    --blue-op: #0073ef00;
    --yellow-op: #f4e21d00;
    --green: #00C917;
    --purple: #884898;
    --orange: #FF9123;
    --gray: #666;
    --dark_gray: #525252;
    --pink: #FF7BAC;
}




body {
    overflow-x: hidden;
    font-size: 2.5vmin;
    font-family: 'M PLUS 2', sans-serif;
}


h1 {
    font-size: 150px;
    margin-block-start: 0.3em;
    margin-block-end: 0.3em;
}


#title_sheet {
    position: fixed;
    height: 100%;
    width: 100%;
}

.back_image_fit {
    position: fixed;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
}

.back_image_cover {
    position: fixed;
    width: 100%;
    min-height: 100%;
    min-width: 100%;
    top: 0%;
    left: 50%;
    transform: translateX(-50%);

}

#title_text_and_buttons {
    text-align: center;
    width: 100%;
    height: 70%;
    padding: 10% 0;
    margin-top: 0;
    position: absolute;
    top: 50%;
    transform: translate(0, -50%);
}



#start_button{
    width: 40vmin;
    bottom: 10%;
    left: 50%;
    transform:  translateX(-50%);
    -webkit- transform:  translateX(-50%);
}


.title_button {
    display: block;
    margin: 20px auto;
    position: fixed;
    height: auto;
}



#quit_button {
    width: 20vmin;
    left: 5%;
    bottom: 5%;
}













#delete_data_button {
    position: fixed;
    left: 1%;
    top: 1%;
    font-size: 10px;
    padding: 5px;
    /*border: 4px solid #f0f0f0;*/
}



#delete_or_not{
    background-color: var(--dark_gray);
    color: white;
    position: fixed;
    top: 35%;
    left: 25%;
    width: 50%;
    height: 30%;
    text-align: center;
    margin: auto;
    padding: 10px;
    z-index: 14;
    
}


.flex_buttons {
    display: flex;
    justify-content: space-between;
    width:70%;
    /*height:70px;*/
    position: absolute;
    bottom: 5%;
    left: 50%;
    transform: translateY(-50%) translateX(-50%);
    -webkit- transform: translateY(-50%) translateX(-50%);
    text-align: center;
}



.flex_buttons p{
    margin: 0;
    padding: 0 10px;
}





/*
#really_delete_button{
    position: absolute;
    width:20%;
    max-width: 100px;
    bottom: 10%;
    left: 20%;
    margin: 0;
}


#not_delete_button{
    position: absolute;
    width:20%;
    max-width: 100px;
    bottom: 10%;
    right: 20%;
    margin: 0;
}
*/













#clear_back_sheet {
    position: fixed;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    background-color: rgb(255, 255, 255);
    opacity: 0;
    z-index: 11;
}


#clear_sheet {
    position: fixed;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    background-image: url('images/title/クリア画像.png');
    background-size: 100% 100%;
    opacity: 1;
    z-index: 14;
}








#clear_text_and_buttons {
    text-align: center;
    width: 100%;
    padding: 20% 0;
    position: absolute;
    top: 50%;
    transform: translate(0, -50%);
}












.text_log {
    background-color: black;
    position: fixed;
    display: flex;
    left: 20%;
    top: 75%;
    width: 55%;
    height: 20%;
    text-align: center;
    border: 4px solid #f0f0f0;
    border-radius: 20px;
    padding: 10px 20px;
    z-index: 12;
}


.text_log p {
    color: white;
}

.text_log_sentence {
    position: relative;
    text-align: left;
    /*left:3%;
    margin-right: 3%;*/
    margin: 0;
    
}



.text_log_speaker {
    position: fixed;
    left: 21%;
    bottom: 24%;
    width:70px;
    margin: 0;
    margin-right: 5px;
    background-color: black;
    text-align: center;
    border: 3px solid #f0f0f0;
    border-radius: 10px;
    padding: 3px 10px;
}


#gene_text_log {
    z-index: 12;
}





.text_log_next_button {
    position: absolute;
    height: 30px;
    left: 0;
    right: 0;
    padding: 10px;
    margin-right:auto;
    margin-left:auto;
    bottom:3%;
}





#text_log_back {
    background-color: rgba(12, 33, 140, 0);
    opacity: 0;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 10;
}




#tutorial {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 10;
}





/* 

#story_sogen {
    position: fixed;
    top: 0;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: 1;
    transform: translateX(-50px);
} */




#ending {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    background-image: url('images/background/エンディング背景.png');
    background-size: cover; /* 背景画像を要素のサイズに合わせて表示 */
    background-position: center;
}






#tutorial_image {
    position: absolute;
    width : auto;
    max-height: 80%;
    max-width:90%;
    left: 0;
    right: 0;
    top:10%;
    margin-left: auto;
    margin-right: auto;
    z-index: 10;
}



#pointer {
    position: absolute;
    width:10%;
    max-width: 50px;
    height: auto;
    top: 55%;
    left: 50%;
    transform: translateX(-50%);
    -webkit- transform: translateX(-50%);
    z-index: 10;
}



















#Q_sheet{
    position: fixed;
    top: 0;
    left: 10%;
    width: 80%;
    height: 100%;
    text-align: center;
}



#quiz_stars {
    display: flex;
    margin-top:5%;
    height: 6%;
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
}

.star {
    aspect-ratio:1/1;
    height: 6vmin; /* 星の高さ */
    width:6vmin;
    background-size: contain; /* 星の画像を要素内に収める */
    background-repeat: no-repeat; /* 背景画像を繰り返し無しに設定 */
}

.light_star {
    background-image: url("images/icons/正解数アイコン（明）.png"); /* 明るい星の画像 */
}

.dark_star {
    background-image: url('images/icons/正解数アイコン（暗）.png'); /* 暗い星の画像 */
}






.quiz_content{
    position: relative;
    display: block;
    /* position: fixed; */
    width: calc(297/210 * 60vh);
    height: calc(60vh);
    aspect-ratio:297/210;
    /* max-height: 55%; */
    left: 0;
    right: 0;
    top:0;
    margin-left: auto;
    margin-right: auto;
    z-index: 10;
}





.quiz_image{
    position:absolute;
    width: 100%; /* 画像を親要素に合わせる */
    height: 100%; /* 画像を親要素に合わせる */
    left:0;
    top:0;
}




#answer_box{
    position: absolute;
    top: 45%;
    left: 10%;
    right: 10%;
    width: calc(80% - 6px);
    padding: 3px;
    margin-left: auto;
    margin-right: auto ;
    background-color: black;
    color: white;
    border: 2px solid #f0f0f0;
    border-radius: 3px;
    font-size: 20px;
    transform: translateY(-50%);
    -webkit- transform: translateY(-50%);
    text-align: left;
}




#send_and_hint_buttons{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    grid-row-gap: 50px;
    width:80%;
    position: absolute;
    bottom: 10%;
    left: 10%;
    text-align: center;
}

.checkButton, .hintButton, .magicHintButton{
    width:fit-content;
    padding: 0 10px;
    margin: 0;
}


/*
.checkButton{
    position: absolute;
    width:20%;
    max-width: 100px;
    bottom: 5%;
    right: 20%;
    margin-left: auto;
    margin-right: auto ;
}


.hintButton{
    position: absolute;
    width:20%;
    max-width: 100px;
    bottom: 5%;
    left: 20%;
    margin-left: auto;
    margin-right: auto ;
}

.magicHintButton{
    position: absolute;
    width:fit-content;
    min-width: 100px;
    bottom: 5%;
    left: 50%;
    margin-left: auto;
    margin-right: auto ;
    transform: translateX(-50%);
    padding: 0 5px;
    -webkit- transform: translateX(-50%);
}
*/


.closeButtons{
    display: flex;
    position: absolute;
    width:fit-content;
    top: 5px;
    right: 5%;
    margin-left: auto;
    margin-right: auto;
    padding: 5px;
}

.closeButton{
    width:fit-content;
    max-width: 100px;
    height: fit-content:
    top: 5px;
    right: 5%;
    margin-left: auto;
    margin-right: auto;
    padding: 5px;
}

#colorVisionButton{
    width:fit-content;
    top: 5px;
    right: 30%;
    margin-left: auto;
    margin-right: 10px;
    padding: 5px;
}





.closeButton,.checkButton,.hintButton, .magicHintButton, .flex_item_button, #pop_button, .magic_hint_buttons, .monster_hint_buttons, #colorVisionButton {
    background-color: black;
    border: 2px solid #f0f0f0;
    border-radius: 5px;
    color :white;
}


#QB_back{
    background-color: rgba(0, 0, 0, 0.327);
    /* opacity: 0.3; */
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}














#board_content{
    position: relative;
    width : 40vw;
    aspect-ratio:1806/1914 ;
    max-height: 80%;
    max-width:90%;
    height: calc(1914/1806 * 40vw) ;
    left: 0;
    right: 0;
    top:20px;
    margin-left: auto;
    margin-right: auto;
    z-index: 10;
    top: 50%;
    transform: translateY(-50%);
    -webkit- transform: translateY(-50%);
    text-align: center;
}

#board_image {
    position:absolute;
    width: 100%; /* 画像を親要素に合わせる */
    height: 100%; /* 画像を親要素に合わせる */
    left:0;
    top:0;
}



#board_sheet {
    position: fixed;
    top: 0;
    left: 10%;
    width: 80%;
    height: 100%;
    text-align: center;
}









.book_content, #explain_content{
    position: relative;
    width : calc(2048/1536 * 75vh);
    height : 75vh;
    aspect-ratio:2048/1536;
    /* max-height: 75%; */
    left: 0;
    right: 0;
    top:50%;
    margin-left: auto;
    margin-right: auto;
    z-index: 10;
    transform: translateY(-50%);
}

#explain_content{
    aspect-ratio:1960/1233;
}



.book_base_image, #explain_image {
    position:absolute;
    /* width: 100%; 画像を親要素に合わせる */
    height: 100%; /* 画像を親要素に合わせる */
    left:50%;
    top:50%;
    z-index: 1;
    transform: translateX(-50%) translateY(-50%);
}




.book_image_ {
    width:40%;
    height: auto;
    position: absolute;
    top: 50%;
    left: 25%;
    transform: translateY(-50%) translateX(-50%);
    -webkit- transform: translateY(-50%) translateX(-50%);
}





.book_link_list {
    position:absolute;
    width: 36.5%;
    height: 74.3%;
    left : 58.4%;
    top:15.7%;
    padding: 0;
    margin: 0;
    overflow-y: scroll;
    list-style-type: none;
    z-index: 3;
    -ms-overflow-style: none;
}

/*

.book_link_list::-webkit-scrollbar{
  display: none;
}
*/




.book_link {
    margin: 10px 0;
    width: 100%;
}




.book_sheet, #explain_sheet{
    position: fixed;
    top: 0;
    left: 10%;
    width: 80%;
    height: 100%;
    text-align: center;
}














#map {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}


.stage {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
}
/* 

#prairie{
    background-image: url('images/background/草原_俯瞰図.PNG');
    background-size: cover; 
    background-position: top;
}


#rocky{
    background-image: url('images/background/岩場_俯瞰図.png');
    background-size: cover;
    background-position: top;
}

#castle{
    background-image: url('images/background/祭壇_俯瞰図.png');
    background-size: cover;
    background-position: top;
}  */


#B1_icon {
    width:10%;
    max-width: 100px;
    height: auto;
    position: absolute;
    top: 10%;
    left: 50%;
    transform: translateY(-50%) translateX(-50%);
    -webkit- transform: translateY(-50%) translateX(-50%);
}





#B2_icon {
    width:20%;
    max-width: 160px;
    height: auto;
    position: absolute;
    top: 10%;
    left: 50%;
    transform: translateY(-50%) translateX(-50%);
    -webkit- transform: translateY(-50%) translateX(-50%);
}

#B3_icon {
    /*width:20%;*/
    height:20%;
    width:auto;
    max-height: 300px;
    /*max-width: 160px;*/
    position: absolute;
    top: 2%;
    left: 50.5%;
    transform: translateX(-50%);
    -webkit- transform: translateX(-50%);
}












#board_icon{
    width:8vw;
    max-width: 150px;
    height: auto;
    position: absolute;
    bottom: 5%;
    left: 50%;
    transform: translateY(-50%) translateX(-50%);
    -webkit- transform: translateY(-50%) translateX(-50%);
    text-align: center;
    
}



#button_move_to_rocky, #button_move_to_castle {
    width:10%;
    max-width: 80px;
    height: auto;
    position: absolute;
    top: 10%;
    left: 50%;
    transform: translateY(-50%) translateX(-50%);
    -webkit- transform: translateY(-50%) translateX(-50%);
}



#button_back_to_prairie, #button_back_to_rocky {
    width:10%;
    max-width: 80px;
    height: auto;
    position: absolute;
    bottom: 5%;
    left: 50%;
    transform: translateX(-50%);
    -webkit- transform: translateX(-50%);
}



.quiz_icons{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    /* grid-row-gap: 5vmin; */
    width:70%;
    /*height:70px;*/
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateY(-50%) translateX(-50%);
    -webkit- transform: translateY(-50%) translateX(-50%);
    text-align: center;
}

#castle_q_icons{
    top: 70vh;
}



.selectQ{
    width:12vmin;
    height: 12vmin;
    margin: 5vmin calc(calc(100% - 12 * 5vmin) / 10);
}


#castle_q_icons .selectQ{
    margin-top: 2vmin;
    margin-bottom: 2vmin;
}


#quiz_select_icon {
    position: absolute;
    width:17vmin;
    height:17vmin;
    top: 70%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    -webkit- transform: translateX(-50%) translateY(-50%);
    z-index: 10;
}








.menu_button {
    position: absolute;
    aspect-ratio:1/1;
    height:10vmin;
    width: 10vmin;
    max-height: 40px;
    top: 20px;
    right: 20px;
    margin-left: auto;
    margin-right: auto;
    z-index: 12;
}

.menu_button span{
  position: absolute;
  width: 100%;
  height: 3px;
  background-color: white;
  opacity: 1;
}
.menu_button span:first-of-type{/* ハンバーガーメニューの1番目の線 */
  top: 10%;
}
.menu_button span:nth-of-type(2){/* ハンバーガーメニューの2番目の線 */
  top: 50%;
}
.menu_button span:last-of-type{/* ハンバーガーメニューの3番目の線 */
  top: 90%;
}

.menu_button.active span:first-of-type{/* ハンバーガーメニューの1番目の線 */
  top: 50%;
  transform: rotate(45deg);
}
.menu_button.active span:nth-of-type(2){/* ハンバーガーメニューの2番目の線 */
  opacity: 0;/* 透明にする */
}
.menu_button.active span:last-of-type{/* ハンバーガーメニューの3番目の線 */
  top: 50%;
  transform: rotate(-45deg);
}





.slide_menu{
    background-color: var(--dark_gray);
    color:white;
    position: fixed;
    top: 0;
    right:0 ;
    width: 20%;
    height: calc(100% - 15px);
    text-align: left;
    padding-top: 15px;
    padding-left: 20px;
    list-style-type: none;
    overflow-y: scroll;
    margin: 0;
    z-index:11;
    transform: translateX(100%); 
    transition: .2s;
}


.slide_menu.active {
  transform: translateX(0);
}

#menu_back {
    background-color: rgba(0, 0, 0, 0.352);
    /* opacity: 0.3; */
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index:10;
}



.slide_menu li {
    margin: 30px 0 0 0;
    width: 100%;
}


#menu_level {
    font-size: larger;
    margin-top: 40px;
}

#menu_point_bar {
    margin-top:auto;
    margin-bottom: auto;
    margin-left: 7px;
    margin-right:5px;
    background-color: var(--dark_gray);
}

#menu_point {
    margin: 0;
}












#magics {
    position: fixed;
    display: flex;
    top:0;
    left:0;
    z-index: 12;
    padding: 10px 0;
}

.magic_icon {
    width:10vmin;
    height: 10vmin;
    margin-left:10px;
    z-index: 10;
    transition: .2s;
    background-size: contain; 
    background-repeat: no-repeat; /* 背景画像を繰り返し無しに設定 */
    
}


.judge_canvas {
    position:absolute;
    height: 100%;
    width: 100%;
    top:0;
    left:0;   
}





#magic_canvas{
    position:absolute;
    height: 100%;
    width: 100%;
    top:0;
    left:0;
}




#open_color_back{
    background-color: rgba(0, 0, 0, 0);
    opacity: 0;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}






.color_menu {
    position: absolute;
    list-style-type: none;
    padding-top:12vmin;
    padding-left: 0;
    margin-left: 10px;
    margin-top: 0;
    text-align: center;
    z-index:9;
    
}


.color_menu li{
    width: 9.3vmin;
    height: 9.3vmin;
    margin-bottom:10px;
    margin-left: 0;
    border-radius: 15px;
}

.color_menu li{
    transition: .2s;
    border: 2.5px solid rgba(0,0,0,0);
}


.color_menu .red{
    transform: translateY(-84px);
    background-color: var(--red-op);
    /* opacity: 0; */
}

.color_menu .blue{
    transform: translateY(-148px);
    /* opacity: 0; */
    background-color: var(--blue-op);
}

.color_menu .yellow{
    transform: translateY(-212px);
    background-color: var(--yellow-op);
    /* opacity: 0; */
}


.color_menu.open .red{
    transform: translateY(0); 
    background-color: var(--red);
    opacity: 1;
}
.color_menu.open .blue{
    transform: translateY(0);
    background-color: var(--blue);
    opacity: 1;
}
.color_menu.open .yellow{
    transform: translateY(0); 
    background-color: var(--yellow);
    opacity: 1;
}







#pop{
    background-color: var(--dark_gray);
    position: fixed;
    top: 35%;
    left: 25%;
    width: 50%;
    /*height: 30%;*/
    height: fit-content;
    min-height: 30%;
    text-align: center;
    margin: auto;
    padding: 10px;
    z-index: 13;
    
}

#pop p {
    color:white;
}


#pop_button {
    position: relative;
    width:fit-content;
    max-width: 100px;
    /*bottom: 5%;*/
    /*left: 50%;*/
    margin-left: auto;
    margin-right: auto;
    padding: 0 10px;
    /*transform: translateX(-50%);
    -webkit- transform: translateX(-50%);*/
}

#pop_close{
    position: absolute;
    width:30px;
    aspect-ratio: 1/1;
    top:0;
    right:0;
    margin: 10px;
    background-color: black;
}


#hints_buttons, #monster_hints_buttons{
    position: relative;
    width:80%;
    display: flex;
    justify-content: space-between;
    text-align: center;
    margin: 0 10%;
}


.magic_hint_buttons, .monster_hint_buttons{
    padding: 0 10px;
    margin: auto;
}





#pop_sheet_back {
    position: absolute;
    width: 100%;
    height: 100%;
}


#pop_back {
    background-color: rgba(0, 0, 0, 0.31);
    /* opacity: 0.3; */
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 12;
}









.command{
    position: fixed;
    /*bottom: 0;
    left: 0;
    width: 100%;
    height: 30%;*/
    background-color: black;
    color: white;
    
    background-color: black;
    position: fixed;
    left: 10%;
    bottom: 2%;
    width: 80%;
    min-height: 28vmin;
    height: 25%;
    text-align: left;
    border: 4px solid #f0f0f0;
    border-radius: 20px;
}


.command p {
    margin: 10px;
    
}



/*ここから所有格さん*/


/*#battle_magic{
    background-color: black;
    position: fixed;
    bottom: 0;
    right: 50%;
    width: 50%;
    height: 30%;
    color: white;
}*/



.enemy_info{
    position: fixed;
    top: 5%;
    left: 5%;
    width: 20%;
    height: fit-content;
    background-color: black;
    color: white;
    padding: 10px;
    border: 4px solid #000000;
    border-radius: 10px;
}



.enemy_name {
    
    border-bottom: 2px solid #f0f0f0;
}


.enemy_status ul {
    padding-left: 0;
    margin: 10px 0;
}



#monster1{
    position: absolute;
    width:25vmin;
    max-width: 300px;
    height: auto;
    top: 55%;
    left: 50%;
    transform: translateY(-50%) translateX(-50%);
    -webkit- transform: translateY(-50%) translateX(-50%);
}


#monster2{
    position: absolute;
    width:40%;
    max-width: 400px;
    height: auto;
    top: 35%;
    left: 50%;
    transform: translateY(-50%) translateX(-50%);
    -webkit- transform: translateY(-50%) translateX(-50%);
}


#monster3{
    position: absolute;
    height: 65%;
    aspect-ratio:1883/3042;
    bottom: 33%;
    left: 50%;
    transform:translateX(-50%);
    -webkit- transform:translateX(-50%);
}





.explain{
    position: absolute;
    top: 0;
    width: 90%;
    height: 100%;
    background-color: black;
    border-radius: 20px;
    
}

.explain p{
    margin: 10px;
}


/* 
#B1{
    background-image: url('images/background/草原_戦闘画面.jpg');
    background-size: cover;
    background-position: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

#B2{
    background-image: url('images/background/岩場_戦闘画面.png');
    background-size: cover; 
    background-position: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
} */


#tsuribashi{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    
}
/* 

#B3{
    background-image: url('images/background/祭壇_戦闘画面.png');
    background-size: cover;
    background-size:100% 100%;
    background-position: top;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
} */



#magic1_colorchoice{
    background-color: black;
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    border-radius: 20px;
    
}

#failed{
    background-color: black;
    color: white;
    position: fixed;
    left: 10%;
    bottom: 2%;
    width: 80%;
    /* min-height: 217px; */
    min-height: 28vmin;
    height: 25%;
    text-align: left;
    border: 4px solid #f0f0f0;
    border-radius: 20px;
    z-index: 1;
}

#failed p{
    margin: 10px;
}

#using_magic{
    background-color: black;
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    border-radius: 20px;
}

#victory{
    background-color: black;
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    border-radius: 20px;
}

#blackout{
    opacity: 0;
    background-color: black;
    background-size: cover;
    position: fixed;
    top:0;
    left:0;
    
    width: 120%;
    height: 120%;
    margin: 0;
    z-index: 12;
}

@keyframes tremble{
    0%{
        transform: translateY(-50%) translateX(-50%);
        transform: -webkit-translateY(-50%) -webkit-translateX(-50%);
    }
    10%{
        transform: translateY(-50%) translateX(-55%);
        transform: -webkit-translateY(-50%) -webkit-translateX(-75%);
    }
    20%{
        transform: translateY(-50%) translateX(-45%);
        transform: -webkit-translateY(-50%) -webkit-translateX(-45%);
    }
    30%{
        transform: translateY(-50%) translateX(-60%);
        transform: -webkit-translateY(-50%) -webkit-translateX(-60%);
    }
    40%{
        transform: translateY(-50%) translateX(-40%);
        transform: -webkit-translateY(-50%) -webkit-translateX(-40%);
    }
    50%{
        transform: translateY(-50%) translateX(-65%);
        transform: -webkit-translateY(-50%) -webkit-translateX(-65%);
    }
    60%{
        transform: translateY(-50%) translateX(-35%);
        transform: -webkit-translateY(-50%) -webkit-translateX(-35%);
    }
    70%{
        transform: translateY(-50%) translateX(-60%);
        transform: -webkit-translateY(-50%) -webkit-translateX(-60%);
    }
    80%{
        transform: translateY(-50%) translateX(-40%);
        transform: -webkit-translateY(-50%) -webkit-translateX(-40%);
    }
    90%{
        transform: translateY(-50%) translateX(-55%);
        transform: -webkit-translateY(-50%) -webkit-translateX(-55%);
    }
    100%{
        transform: translateY(-50%) translateX(-50%);
        transform: -webkit-translateY(-50%) -webkit-translateX(-50%);
    }
}

@keyframes runaway{
    0%{
        transform: translateY(-50%) translateX(-50%);
        transform: -webkit-translateY(-50%) -webkit-translateX(-50%);
    }
    100%{
        transform: translateY(-50%) translateX(-50%);
        transform: -webkit-translateY(-50%) -webkit-translateX(-50%);
        transform: translateX(1000px);
        transform: -webkit-translateX(1000px);
        transform: -moz-translateX(1000px);
        transform: -ms-translateX(1000px);
        transform: -0-translateX(1000px);
    }
}

@keyframes fall{
    0%{
        transform: translateY(-50%) translateX(-50%);
        transform: -webkit-translateY(-50%) -webkit-translateX(-50%);
    }
    100%{
        transform: translateY(10000px) translateX(-50%);
        transform: -webkit-translateY(10000px) -webkit-translateX(-50%);
    }
}

@keyframes darkerlighter{
    0%{
        opacity: 0;
    }
    50%{
        opacity: 1;
    }
    100%{
        opacity: 0;
    }
}


